/*ВСПЛЫВАЮЩЕЕ ОКНО*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    border-radius: 7px;
    background-color: #333;
    margin: 5% auto;
    padding: 10px 10px 0 10px;
    border: 1px solid black;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 33px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
}

.modal-content input[type=submit], .modal-content button[type=submit] {
    border-radius: 5px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    color: #fff;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}

.modal-content input::-webkit-outer-spin-button, .modal-content input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal-content input[type=text], .modal-content input[type="number"] {
    width: 100%;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.3);
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

.delete-text {
    color: #f2f2f2;
    font-size: 18px;
}

.modal-content input[type=text]::placeholder, .modal-content input[type="number"]::placeholder {
    color: #bfb8b8;
}

.modal-content input[type=text]:focus, .modal-content input[type="number"]:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}